<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>.link{margin: 10px;display: block;}</style>
</head>
<body>
  <div id="app">
      <h1>404 Not Found</h1>
      <p>以下是可访问页面1111</p>
      <!-- 根据构建生成的html文件 -->
      <% var html = assets.filter(function(item){return item.indexOf('.html') >= 0})%>
      <% for(var j = 0; j < html.length; j++) {%>
          <a class="link" href="<%-'./'+html[j] %>"><%-html[j] %></a>
          <% } %>
      
  </div>
</body>
</html>
